* {
    background-image: url("coding.jpg");
}

div {
    color: white;
    padding: 5%;
    border: 2px solid darkgreen;
    text-align: center;
    margin-top: 240px;
    margin-left: 540px;
    font-size: xx-large;
    width: 10%;
}