.fruits {
    color: blue;
    list-style-image: url(fruits.png);
    list-style-position: outside;
}

.phones {
    color: orange;
    list-style-image: url(phone.png);
    list-style-position: inside;
}

.cars {
    list-style-type: disc;
    color: yellowgreen;
}

.bikes {
    list-style-type: square;
    color: darkmagenta;
}