* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    color: #d63e46;
    font-size: 400%;
    margin-top: 5px;
    margin-right: 80px;
}

.top {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 40px;
}

img {
    float: right;
    height: 50vh;
    width: 100%;
    margin-bottom: 60px;
}

div {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10%;
}